@media (min-width: 577px) {
    .computer {
        display: none !important;
    }
}

@media (max-width: 576px) {
    .title-center {
        margin-top: 30px;
        text-align: center;
    }

    .cellphone {
        display: none !important;
    }

    .icon-social {
        text-align: center;
    }
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.homepage {
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url("/media/images/computer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: 0.6; */
}

.brand-title {
    font-family: 'Bebas Neue', cursive;
}

.menu-title {
    font-family: 'Oswald', sans-serif;
}

.menu-title h1 {
    font-weight: 700;
}

.menu-title h1 span {
    color: #700B97;
}

.zoom:hover {
    transform: scale(1.5);
}

.space-element {
    padding-top: 100px;
    padding-bottom: 100px;
}

.img-about-me {
    border-radius: 100%;
    width: 300px;
}

.icon-social a {
    color: #000;
}

.bg-grey {
    background-color: rgb(250, 250, 250);
    padding-top: 100px;
}

.img-portfolio {
    /* height: 300px; [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.img-portfolio img {
    transition: transform .5s ease;
}

.img-portfolio:hover img {
    transform: scale(1.5);
    cursor: pointer;
}