.homepage {
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("/media/images/computer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: 0.6; */
}

.brand-title {
    font-family: 'Bebas Neue', cursive;
}

.menu-title {
    font-family: 'Oswald', sans-serif;
}

.zoom:hover {
    transform: scale(1.5);
}